$bg: #15132b;

$text: (
  default: whitesmoke,
  item: #464366,
  item_sec: #7879f1cc,
  active: #6418c3,
);

$badge: (
  number: #5dcfff,
  text: #e328af,
);
$banner: (
  min: #15a6f1,
  max: #076ecd,
  inner: #34b9f6,
);
